@import url("https://fonts.googleapis.com/css?family=Cagliostro|Fahkwang|Roboto|Share+Tech+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.gradient {
  background: #23074d;
  background: -webkit-gradient(linear, left top, right top, from(#23074d), to(#cc5333));
  background: linear-gradient(to right, #23074d, #cc5333);
  position: fixed;
  height: 100vh;
  width: 100vw;
}

div.container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 34%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  height: 80vh;
  min-width: 80vw;
  margin: 4vh 0;
}

div.container div.panel1 {
  text-align: center;
  max-width: 90vw;
  margin: auto;
}

div.container div.panel1 h1 {
  font-family: Fahkwang, Arial, 'Times New Roman', Times, serif;
  font-size: 4vh;
  padding: 5vh 5vw;
}

div.container div.panel1 hr.hr {
  width: 80%;
  margin: 1vh auto;
  color: white;
}

div.container div.panel1 h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 3vh;
  padding: 3vh;
}

div.container div.panel1 button.btn {
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0 1vw;
}

@media (max-width: 1000px) {
  div.container div.panel1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

div.container div.panel2 {
  text-align: center;
  margin: auto;
}

div.container div.panel2 div.calculator {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

div.container div.panel2 div.calculator div.bodyCalc {
  width: 30vw;
  max-width: 24vw;
  font-size: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3vh auto;
}

div.container div.panel2 div.calculator div.bodyCalc div.screen {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: right;
  padding: 1vh;
  border-radius: 5px;
  margin-bottom: 2px;
  min-height: 8vh;
}

div.container div.panel2 div.calculator div.bodyCalc div.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.container div.panel2 div.calculator div.bodyCalc div.btn-group button.btn {
  font-size: 1.5rem;
  width: 50px;
  height: 80px;
  background-color: rgba(90, 98, 104, 0.2);
}

div.container div.panel2 div.calculator div.bodyCalc div.btn-group button.btn:hover {
  background-color: rgba(149, 163, 173, 0.2);
}

@media (max-width: 1000px) {
  div.container div.panel2 div.calculator div.bodyCalc {
    width: 50vw;
    max-width: 50vw;
    margin-top: 3vh;
  }
}

@media (max-width: 500px) {
  div.container div.panel2 div.calculator div.bodyCalc {
    width: 70vw;
    min-width: 70vw;
  }
}

@media (max-width: 1000px) {
  div.container div.panel2 div.calculator {
    position: relative;
  }
}

div.container div.panel2 div.exchange {
  display: none;
  position: relative;
  top: 20%;
  border: 1px solid white;
  font-size: 2vh;
  padding: 5vh 4vh 2vh 4vh;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Fahkwang', sans-serif;
}

div.container div.panel2 div.exchange form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

div.container div.panel2 div.exchange form input,
div.container div.panel2 div.exchange form select {
  background-color: transparent;
  color: white;
}

div.container div.panel2 div.exchange form select:hover {
  background-color: #eca18c9d;
}

div.container div.panel2 div.exchange form option {
  color: black;
}

@media (max-width: 500px) {
  div.container div.panel2 div.exchange form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

div.container div.panel2 div.exchange p {
  padding: 1vh;
}

div.container div.panel2 div.exchange button.calcCurr {
  position: absolute;
  bottom: 8%;
  right: 8%;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 460px) {
  div.container div.panel2 div.exchange button.calcCurr {
    position: relative;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}

@media (max-width: 1000px) {
  div.container div.panel2 div.exchange {
    padding: 5vh 1vh 2vh 1vh;
  }
  div.container div.panel2 div.exchange .col-6 {
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  div.container div.panel2 div.exchange h2 {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  div.container div.panel2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 11vh;
    max-width: 90vw;
  }
}

@media (max-width: 1000px) {
  div.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    min-width: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */